@import "vars";
@import "fonts";
@import "_mixins/config";
@import "_mixins/afterBorder";

body, html {
  height: 100%;
}

body {
	font-size: 16px;
	min-width: 320px;
	height: 100vh;
	position: relative;
	margin: 0;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

b, strong {
	font-weight: bold;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
	overflow: hidden;
	background-image: url(../img/bg-calculate.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}



.button {
  display: inline-block;
  padding: 10px 17px;
  min-width: 97px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  line-height: 1.42;
  color: #ffffff;
  background-color: $accent;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color .1s ease;
  &:focus, &:hover {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    background-color: lighten($accent, 5%);
  }
    &::after {
      opacity: .22;
    }
  &:active {
    background-color: darken($accent, 8%);
  }
}

.calc {
	width: 1072px;
	height: 650px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: top;
	margin: 0 auto;
	border: 2px solid #efae02;
}

.tabs {
	margin-top: 26px;
	margin-bottom: 35px;
}

.tabs-items {
	display: flex;
	justify-content: center;
}

.tabs-items__item {
	min-width: 200px;
	min-height: 70px;
	margin-right: 2px;
	border-radius: 15px 0 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.77) 0%, #323131 100%);
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	line-height: 70px;
	color: #fff;
	cursor: pointer;
	&:last-child {
		margin-right: 0;
		border-radius: 0 15px 0 0;
	}
}

.active {
	position: relative;
	background: $accent;
	color: #000;
	border-bottom: 1px solid $border;
	&:after {
		content: '';
		position: absolute;
		left: 0;
    bottom: -8px;
		width: 200px;
		height: 1px;
		background-color: $border;
	}
}

.info {
	width: 774px;
}

.info-pages {
	display: none;
	flex-direction: column;
}

.info-list {
	display: flex;
	flex-direction: column;
}

.info-list__items,
.info-pages__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 26px;
}

.info-list__text,
.info-pages__text {
	position: relative;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	@include afterBorder;
}

.info-list__input,
.info-pages__input {
	width: 132px;
	height: 60px;
	font-size: 48px;
	font-weight: 700;
	text-align: center;
	line-height: 72px;
	border: 3px solid $border;
	color: $accent;
	background: transparent;
	&:hover, &:focus {
		outline: none;
	}
}

.additional {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 25px;
	font-size: 30px;
	font-weight: 700;
	color: #ecac04;
}

.additional__header {
	margin-bottom: 18px;
}

.additional-points__point {
	display: flex;
	align-items: center;
}

.additional-points__check {
	width: 29px;
	height: 29px;
	border: 3px solid #ffffff;
	background: transparent;
}

.cost {
	display: flex;
	align-items: center;
	justify-content: space-around;
	align-items: center;
	line-height: 1;
}

.cost__text {
	font-size: 36px;
	font-weight: 700;
	color: #fff;
}

.cost__price {
	position: relative;
	font-size: 56px;
	font-weight: 700;
	color: #ecac04;
	@include afterBorder;
}


